@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pulse-glow {
    animation: pulse-glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse-glow {

    0%,
    100% {
      box-shadow: 0 0 15px rgba(251, 191, 36, 0.6);
      transform: translateY(-4px) scale(1.01);
    }

    50% {
      box-shadow: 0 0 30px rgba(251, 191, 36, 0.9);
      transform: translateY(-6px) scale(1.02);
    }
  }
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-slate-50;
  }
}